.janelaOrcamento {
    display: none;
}

.tituloClienteOrcamento{grid-area: titulo;}
.jaEhClienteOrcamento{grid-area: jaEhCliente;}
.nomeClienteOrcamento{grid-area: nome;}
.comboBoxNomeClienteOrcamento{grid-area: nome;}
.telefoneClienteOrcamento{grid-area: telefone;}
.cpfClienteOrcamento{grid-area: cpf;}
.enderecoClienteOrcamento{grid-area: endereco;}

.clienteOrcamento {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 25% 25% 20%;
    grid-template-rows: 5px auto auto auto 5px;
    grid-template-areas: 
    ". . . ."
    "titulo . . jaEhCliente"
    "nome nome nome telefone "
    "endereco endereco endereco cpf"
    ". . . .";
    grid-row-gap: 4px;
    column-gap: 2%;
    justify-items: center;
    align-items: center;
}

.btnVisualAddProduto{
    grid-area: btn;
    color: rgb(0, 0, 0);
    font-size: 80px;
}
.textoVisualAddProduto{grid-area: texto; color: black;}
.btnAddProduto {
    display: grid;
    width: 100%;
    grid-template-columns: 5% 10% 80% 5%;
    grid-template-rows: 5px 100px 5px;
    grid-template-areas: 
    ". . . ."
    ". btn texto ."
    ". . . .";
    justify-items: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
}