.janelaProdutos {
    display: none;
}

.novoProdutoTitulo {
    color:  rgb(4, 109, 194);
}

.novoProdutoBox {
    width: 100%;
    text-align: justify;
}

.novoProdutoTituloInput {
    background-color: rgb(61, 61, 61);
    width: 90px;
    text-align: center;
    color: white;
}

.novoProdutoInput {
    width: 100px;
}

.tituloDescricao {
    width: 250px;
}

.novoProdutoID {
    color: rgb(117, 117, 117);
    background-color: cornflowerblue;
    text-align: right;
}

.gridID {
    width: 100%;
    grid-area: id;
    font-size: medium;
    color: rgb(80, 80, 80);
    text-justify: center;
    text-align: center;
}
.gridIMAGEM {
    grid-area: imagem;
    height: 75px;
    background-color: chocolate;
}
.gridENDERECO {
    grid-area: enderecoimagem;
    font-size: small;
    color: rgb(158, 158, 158);
    align-self: left;
    justify-self: left;
}
.gridTITULO {grid-area: titulo;}
.gridDESCRICAO{grid-area: descricao; margin-bottom: 6px;}
.gridPRECOM2 {grid-area: precom2;}
.gridPRECOKIT {grid-area: precokit;}
.gridBTN {
    grid-area: btn;
    height: 100%;
    border: solid;
    border-color: rgb(61, 61, 61);
    border-width: 1px;
    columns: rgb(61, 61, 61);
}
.gridSUMARIO {grid-area: sumario;}
.gridBtnFechaProduto {grid-area: btnFecha; justify-self: right;}

.novoProdutoTemplate {
    width: 100%;
    display: grid;
    grid-template-columns:20% 45% 25% 4%;
    grid-template-rows: auto auto auto 8px;
    /* grid-template-areas: 
    "sumario . . btnFecha"
    "imagem titulo precom2 btn"
    "imagem . . btn"
    "imagem descricao precokit btn"
    "enderecoimagem descricao . btn"; */
    grid-template-areas:
    "sumario . . btnFecha"
    "imagem titulo precom2 btn"
    "imagem descricao precokit btn"
    "enderecoimagem enderecoimagem enderecoimagem enderecoimagem";
    grid-column-gap: 2%;
    grid-row-gap: 12px;
    justify-items: center;
    align-items: center;
}

.modeloProduto {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 15% 40% 15% 10%;
    grid-template-rows: 8px 8px 8px auto 8px;
    grid-template-areas: 
    ". imagem titulo . ."
    "id imagem . precom2 btnEditar"
    "id imagem descricao . ."
    "id imagem descricao precokit btnDeletar"
    ". enderecoimagem enderecoimagem . .";
    grid-column-gap: 4px;
    grid-row-gap: 8px;
    justify-items: center;
    align-items: center;
    font-size: small;
}

/* Modelo de produto Novo */
.tituloProduto {
    text-align: center;
}

.btnEditarProduto {
    grid-area: btnEditar;
    justify-self: right;
    text-align: center;
}

.btnDeletarProduto {
    grid-area: btnDeletar;
    justify-self: right;
    text-align: center;
}

.novoProdutoTextArea {
    resize: none;
}

.menuProdutos {
    color: black;
}

.insereProduto {
    display: none;
    background-color: rgb(241,241,241);
}

.editaProduto {
    display: none;
    width: 100%;
    color: blue;
}

.listaProdutos {
    background-color: rgb(241, 241, 241); ;
}